body, html {
	margin: 0 auto;
	height: 100%;
	
	color: #bdc1c6;
	
	font-variant: small-caps;
	
	background-color: #121212; 
}

.button {
	background-color: #39383D;
	
	color: #bdc1c6;

    font-size: Max(28px, 1em);
    font-family: inherit;
    
    font-variant: small-caps;
    
    padding: 0.1em 0.7em 0.3em;
    
    border: 2px solid var(--input-border);
    border-radius: 4px;
    
    transition: background-color 0.3s, color 0.3s;
}

.button:active {
	outline: none;
    transform: translateY(2px);
}

.button:hover, .textbox:hover {
	background-color: #BA3B46; 
	color: #FFFFFF;
}

.textbox {
	background-color: #39383D;

    font-size: Max(28px, 1em);
    font-family: inherit;
    
    color: #bdc1c6;
    
    padding: 0.1em 0.55em 0.3em;
    
    width: 10em;
    
    text-align: center; 
    
    border: 2px solid var(--input-border);
    border-radius: 4px;
    
    transition: background-color 0.3s, color 0.3s;
}

.textbox:focus {
	outline: none;
	background-color: #bd5d2d; 
	
	color: #FFFFFF;
}

hr {
    display: block;
    
    height: 1px;
    
    border: 0;
    border-top: 1px solid #bdc1c6;
    
    margin: 1em 0.075em;   

	width: 31em;
    
    padding: 0;
}

#joinSession {
	margin-left: 0.2em;
}

.logo {
	height: 10em;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../img/logo.png");

    -webkit-filter: drop-shadow(1px 1px 0 #bdc1c6) drop-shadow(-1px -1px 0 #bdc1c6);
    filter:drop-shadow(1px 1px 0 #bdc1c6) drop-shadow(-1px -1px 0 #bdc1c6);
}

.logo:hover {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../img/logo.png");

    -webkit-filter: drop-shadow(1px 1px 0 #FFFFFF) drop-shadow(-1px -1px 0 #FFFFFF);
    filter:drop-shadow(1px 1px 0 #FFFFFF) drop-shadow(-1px -1px 0 #FFFFFF);
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 80%;
}

.formContent {
	width: 100%;
	max-width: 500px;
	position: relative;
	text-align: center;
}

.about {
	margin-top: 3em;
	padding: 20px 25px;
	
	font-variant: normal;
	
	background-color: #39383D;
	
	width: 31em;
	
	border-radius: 4px;
}	

.footer {
    position: fixed;
    
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: 3.5%;
    
    padding: 0.2em;
    
    padding-bottom: 2em;
    
    background-color: #39383D;
    
    border-top: 1px solid #bdc1c6;
    
    text-align: center;
}

.footer li {
	font-size: 20px;
	
	padding-left: 2em;
}

.footer i {
	font-size: 30px;
	vertical-align: middle;
}

.footer ul {
	list-style-type: none;
		
	margin-right: 5em;
}

.footer li {
	display: inline;
}

.fa-linkedin:hover {
	color: #0077B5;
}

.fa-facebook:hover {
	color: #4867AA;
}


.fa-twitter:hover {
	color: #5DA9DD;
}

.fa-github:hover {
	color: #FFFFFF;
}

.tinfiolic:hover {
	animation: animate-color 5s forwards; 
	animation-iteration-count: infinite;
}

@keyframes animate-color {
  0%   { color: #BA3B46; }
  30%   { color: #FFFFFF; }
  60% { color: #5DA9DD; }
  90%   { color: #FFFFFF; }
  100%   { color: #BA3B46; }
}

a { 
	color: inherit; 
}

a:link {
    text-decoration: none;
    color: inherit; 
}

a:visited {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    text-decoration: none;
    color: inherit; 
}

a:active {
    text-decoration: none;
    color: inherit; 
}